html {scroll-behavior: smooth;}
body {
    overflow-x: hidden;
}
*.btn {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #fff;
    border: 1px solid #fff;
    padding: 14px 55px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
    letter-spacing: 1px;
}
*.btn:hover {
    background: #fff;
    color: #181818;
}
/* ===============================헤더 */
header {
    padding: 20px 20px 0;
    background-color: #181818;
}
header .top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .top_bar .left {}
header .top_bar .left a {}
header .top_bar .left a img {
    width: 30px; height: 30px;
}
header .top_bar h1 {}
header .top_bar h1 a {}
header .top_bar h1 a img {
    width: 186px; height: 40px;
}
header .top_bar .right {
    display: flex;
    justify-content: right;
}
header .top_bar .right a {
    padding-right: 15px;
}
header .top_bar .right a:last-child {
    padding-right: 0;
}
header .top_bar .right a img {}
header .fix_bg, header .left_menu {
    display: none;
}
header .fix_bg.active, header .left_menu.active {
    display: block;
}
header .fix_bg {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
header .left_menu {
    display: none;
    background: #181818;
    position: fixed;
    left: -300px; /* 시작 위치를 화면 밖으로 설정 */
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 999;
    transition: transform 0.5s ease;
}
header .left_menu.active {
    /* transform: translateX(300px); */ /* 화면 안으로 이동 */
    display: block; /* 메뉴가 보이도록 설정 */
}
header .left_menu .close {
    text-align: right;
    display: block;
    color: #fff;
    width: 50px;
    height: 50px;
}
header .left_menu .close::before,
header .left_menu .close::after {
    position: absolute;
    right: 24px;
    top: 20px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
}
header .left_menu .close:hover::before,
header .left_menu .close:hover::after {
    background-color: rgba(255, 255, 255, 1);
}
header .left_menu .close:before {
    transform: rotate(45deg);
}
header .left_menu .close:after {
    transform: rotate(-45deg);
}
header .left_menu h1 {
    margin-bottom: 10px;
    text-align: center;
}
header .left_menu h1 img {
    width: 186px;
    height: 40px;
}
header .left_menu > nav {
    display: flex;
    flex-flow: column;
    align-items: center;
}
header .left_menu nav > a {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    transition: color 0.3s ease;
}
header .left_menu nav > a:hover {
    color: #fff;
}
header > nav {
    margin-top: 20px;
    position: relative;
    z-index: 100; 
}
header > nav .gnb {
    display: flex;
    justify-content: center;
    height: 40px;
}
header > nav .gnb .title {
    padding-right: 40px;
    position: relative;
}
header > nav .gnb .title:last-child {
    padding-right: 0px;
}
header > nav .gnb .title a {
    color: #fff;
    font-size: 0.875rem;
}
header > nav .gnb .title a:hover {
    color: #999;
}
header > nav .gnb .title a span {
    background: #fff;
    border-radius: 30px;
    padding: 5px 10px;
    color: #181818;
}
header > nav .gnb .title a span:hover {
    color: #999;
}
header > nav .gnb .sub {
    position: absolute;
    left: 0;
    top: 20px;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden; /* visibility 속성은 요소가 보이는지 숨겨지는지를 제어할 때 유용하게 사용 */
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

header > nav .gnb .sub.show {
    opacity: 1;
    visibility: visible;
}
header > nav .gnb .sub a {
    color: #181818;
    padding: 12px 16px;
    display: block;
}
/* ============================================= */
main .header_bg {
    background-image: url('../images/swipe001.png');
    background-size: cover;
    background-position: center;
    height: 654px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    color: #fff;
}
main .header_bg .bg_text {
    padding-bottom: 70px;
}
main .header_bg .bg_text h2 {
    font-size: 3.75rem;
    margin-bottom: 20px;
    font-weight: 700;
}
main .header_bg .bg_text p {
    font-weight: 500;
}