html {scroll-behavior: smooth;}
body {
    overflow-x: hidden;
}
*.btn {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #fff;
    border: 1px solid #fff;
    padding: 14px 55px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
    letter-spacing: 1px;
}
*.btn:hover {
    background: #fff;
    color: #181818;
}
/* ===============================헤더 */
header {
    padding: 20px;
    background-color: #181818;
}
header .top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .top_bar .left {}
header .top_bar .left a {}
header .top_bar .left a img {
    width: 30px; height: 30px;
}
header .top_bar h1 {}
header .top_bar h1 a {}
header .top_bar h1 a img {
    width: 186px; height: 40px;
}
header .top_bar .right {
    display: flex;
    justify-content: right;
}
header .top_bar .right a {
    padding-right: 15px;
}
header .top_bar .right a:last-child {
    padding-right: 0;
}
header .top_bar .right a img {}
header .fix_bg, header .left_menu {
    display: none;
}
header .fix_bg.active, header .left_menu.active {
    display: block;
}
header .fix_bg {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
header .left_menu {
    display: none;
    background: #181818;
    position: fixed;
    left: -300px; /* 시작 위치를 화면 밖으로 설정 */
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 999;
    transition: transform 0.5s ease;
}
header .left_menu.active {
    /* transform: translateX(300px); */ /* 화면 안으로 이동 */
    display: block; /* 메뉴가 보이도록 설정 */
}
header .left_menu .close {
    text-align: right;
    display: block;
    color: #fff;
    width: 50px;
    height: 50px;
}
header .left_menu .close::before,
header .left_menu .close::after {
    position: absolute;
    right: 24px;
    top: 20px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
}
header .left_menu .close:hover::before,
header .left_menu .close:hover::after {
    background-color: rgba(255, 255, 255, 1);
}
header .left_menu .close:before {
    transform: rotate(45deg);
}
header .left_menu .close:after {
    transform: rotate(-45deg);
}
header .left_menu h1 {
    margin-bottom: 10px;
    text-align: center;
}
header .left_menu h1 img {
    width: 186px;
    height: 40px;
}
header .left_menu > nav {
    display: flex;
    flex-flow: column;
    align-items: center;
}
header .left_menu nav > a {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    transition: color 0.3s ease;
}
header .left_menu nav > a:hover {
    color: #fff;
}
header > nav {
    margin-top: 20px;
    position: relative;
    z-index: 100; 
}
header > nav .gnb {
    display: flex;
    justify-content: center;
}
header > nav .gnb .title {
    padding-right: 40px;
    position: relative;
}
header > nav .gnb .title:last-child {
    padding-right: 0px;
}
header > nav .gnb .title a {
    color: #fff;
    font-size: 0.875rem;
}
header > nav .gnb .title a:hover {
    color: #999;
}
header > nav .gnb .sub {
    display: none;
    position: absolute;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
header > nav .gnb .sub.show {
    display: block;
    opacity: 1;
}
header > nav .gnb .sub a {
    color: #181818;
    padding: 12px 16px;
    display: block;
}
/* ========================메인팝업 */
main .popup {
    position: fixed;
    bottom: 25px; 
    right: 20px;
    z-index: 1000;
}

main .popup a {
    display: block;
    margin-bottom: 5px;
}
main .popup .arrow {
    margin-left: 55px;
}
main .popup a img {
    width: 40px; height: 40px;
}
main .popup .talk_link {}
main .popup .talk_link .talk_banner {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 20px;
}
main .popup .talk_link .talk_banner img {
    width: 18px; height: 18px;
}
main .popup .talk_link .talk_banner > p {
    font-size: 0.813rem;
    color: #333;
    letter-spacing: 1px;
    padding-left: 3px;
    font-weight: 700;
}
/* =================================메인비디오 */
.video_wrap {
    width: 1920px;
    overflow: hidden;
}
.video_wrap video {
    position: relative;
    top: -75px;
    width: 100%;
    z-index: -1;
}
.video_text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.video_text h2 {
    margin-bottom: 25px;
    letter-spacing: 3px;
}
.video_text .btn {
    /* font-size: 18px;
    line-height: 1.5;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    padding: 14px 55px; */
}
/* ===============================메인1.카드 */
main {
    margin-top: -80px;
}
main .card_wrap {
    background: #181818;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .card_wrap > p {
    color: #fff;
    text-align: center;
    line-height: 1.7;
    font-size: 1.375rem;
    font-weight: 500;
}
main .card_wrap .card {
    background-color: #7F7F7F;
    color: #fff;
    border-radius: 10px;
    width: 295.70px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 30px;
}
main .card_wrap .card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
main .card_wrap .card p {
    font-size: 1.125rem;
    line-height: 1.5;
}
main .card_wrap .card a {
    color: #fff;
    font-size: 0.875rem;
}
main .card_wrap .card .icon img {
    width: 48px;
    height: 48px;
}
/* ========================메인2 스와이퍼 */
main #visual_slide .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
main #visual_slide .swiper-wrapper .swiper-slide img {
    width: 100%; height: 750px;
    object-fit: cover;
}
main #visual_slide .swiper-wrapper .swiper-slide .slide-text {
    position: absolute;
    color: #fff;
    text-align: center;
    left: 450px;
}
main #visual_slide .swiper-wrapper .swiper-slide .text4 {
    left: auto;
    right: 450px;
}
main #visual_slide .swiper-wrapper .swiper-slide .slide-text h2 {
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 1.5;
}
main #visual_slide .swiper-wrapper .swiper-slide .slide-text h3 {
    font-size: 1.25rem;
    padding: 20px 0;
    letter-spacing: 2px;
}
main #visual_slide .swiper-wrapper .swiper-slide .slide-text a {}
/* =================================메인3 아이템박스 */
main .box_container {
    padding: 120px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
main .box_container .box {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.125rem;
    width: 297.50px; height: 173px;
    border: 1px solid #e5e7eb;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
main .box_container .box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
main .box_container .box:hover {
}
main .box_container .box:last-child {
    margin-right: 0;
}
main .box_container .box .box_text {}
main .box_container .box .box_text > p {
    padding-bottom: 10px;
    font-size: 0.875rem;
    letter-spacing: 1px;
    color: #999;
}
main .box_container .box .box_text > h2 {
    color: #181818;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -1px;
}
/* ============================메인4 아이템리스트 */
main .main_item {}
main .main_item > h2 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    padding-bottom: 38px;
}
main .main_item .item_list {
    display: flex;
    justify-content: center;
}
main .main_item .item_list .item_wrap {}
main .main_item .item_list .item_wrap:last-child {
    margin-right: 0;
}
main .main_item .item_list .item_wrap .item_img {
    width: 298px;
    position: relative;
}
main .main_item .item_list .item_wrap .item_img a .img_b {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
main .main_item .item_list .item_wrap .item_img:hover .img_b {
    display: block;
}
main .main_item .item_list .item_wrap .item_img a {}
main .main_item .item_list .item_wrap .item_img a img {
    margin-bottom: 20px;
    width: 298px; height: 298px;
}
main .main_item .item_list .item_wrap .item_contents {}
main .main_item .item_list .item_wrap .item_contents .c_link {}
main .main_item .item_list .item_wrap .item_contents .c_link .box1 {
    width: 9px; height: 9px;
    border: 1px solid #e5e7eb;
    display: inline-block;
    background: #181818;
}
main .main_item .item_list .item_wrap .item_contents .c_link .box2 {
    width: 9px; height: 9px;
    border: 1px solid #e5e7eb;
    display: inline-block;
    background: #fff;
}
main .main_item .item_list .item_wrap .item_contents .c_link .box3 {
    width: 9px; height: 9px;
    border: 1px solid #e5e7eb;
    display: inline-block;
    background: #afe2f4;
}
main .main_item .item_list .item_wrap .item_contents .c_link .box4 {
    width: 9px; height: 9px;
    border: 1px solid #e5e7eb;
    display: inline-block;
    background: #104018;
}
main .main_item .item_list .item_wrap .item_contents .c_link > h2 {
    font-size: 0.938rem;
    padding-top: 10px;
}
main .main_item .item_list .item_wrap .item_contents .c_link .price {
    padding: 10px 0;
    font-weight: 700;
}
main .main_item .item_list .item_wrap .item_contents .c_link .price span {
    font-weight: 700;
    color: #f25356;
}
main .main_item .item_list .item_wrap .item_contents .c_link .del_price {
    font-size: 0.75rem;
    color: #7F7F7F;
    padding-top: 5px;
}
main .main_item .item_list .item_wrap .item_contents .c_link .label {
    display: flex;
}
main .main_item .item_list .item_wrap .item_contents .c_link > .label p {
    width: 55px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 5px;
    color: #fff;
}
main .main_item .item_list .item_wrap .item_contents .c_link .new {
    background: #181818;
}
main .main_item .item_list .item_wrap .item_contents .c_link .best {
    background: #5BA1D5;
}
main .main_item .item_list .item_wrap .item_contents .c_link .sale {
    background: #D70902;
}
main .main_item .item_list .item_wrap .item_contents .c_link .review {
    display: flex;
    align-items: center;
}
main .main_item .item_list .item_wrap .item_contents .c_link .review p {
    font-size: 0.875rem;
    margin-right: 5px;
    color: #999;
    display: flex;
    align-items: center;
}
main .main_item .item_list .item_wrap .item_contents .c_link .review p img {}
/* =========================메인5 빅뷰 */
main .big_view {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
main .big_view p {}
main .big_view p img {
    width: 1920px;
    height: 882px;
    object-fit: cover;
}
main .big_view .view_text {
    position: absolute;
    color: #fff;
    text-align: center;
    right: 450px;
}
main .big_view .view_text h2 {
    font-size: 0.875rem;
    letter-spacing: 2px;
}
main .big_view .view_text h3 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.5;
    padding: 20px 0 30px;
}
main .big_view .view_text .btn {}
/* =====================메인6 보스스토리 */
main .brand_story {}
main .brand_story > h2 {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 40px 0;
    text-align: center;
}
main .brand_story .story_container {
    display: flex;
    justify-content: center;
}
main .brand_story .story_card {
    width: 300px;
    border: 1px solid #e5e7eb;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}
main .brand_story .story_card:last-child {
    margin-right: 0;
}
main .brand_story .story_card img {
    width: 100%;
    height: 298px;
    object-fit: cover;
}
main .brand_story .story_card .card_content {
    padding: 20px 20px 0;
}
main .brand_story .story_card .card_content h3 {
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px;
}
main .brand_story .story_card .card_content p {
    color:#999;
    font-size: 0.75rem;
    line-height: 1.2;
    margin: 0 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
main .brand_story .story_card .summary {
    font-size: 0.75rem;
    color: #999;
    padding: 0 20px 20px;
}
main .brand_story .story_card .last {
    padding: 20px;
}
/* =========================메인7 광고 */
main .adv_container {
    margin: 70px 0 80px;
}
main .adv_container .adv_banner {
    position: relative;
}
main .adv_container .adv_banner a {}
main .adv_container .adv_banner a img {
    width: 1295px;
    display: block;
    margin: 0 auto;
}
main .adv_container .adv_banner .banner_text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}
main .adv_container .adv_banner .banner_text h2 {
    color: #ff781f;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
}
main .adv_container .adv_banner .banner_text p {
    color: #ff781f;
    padding: 10px 0 20px;
}
main .adv_container .adv_banner .banner_text > .btn {
    background: #fff;
    color: #181818;
}
main .adv_container .adv_banner .banner_text > .btn:hover {
    background: #181818;
    color: #fff;
}
/* ====================풋터 */
footer {
    background: #181818;
}
footer section {
    width: 1290px;
    margin: 0 auto;
    position: relative;
}
footer section .line {
    border: 1px solid #fff;
    position: absolute;
    left: 0%;
    top: 40%;
    width: 1290px;
}
footer section .ft_top {
    display: flex;
    justify-content: space-around;
}
footer section .ft_top .ft_menu {
    padding-top: 50px;
    display: flex;
    flex-flow: column wrap;
    color: #fff;
}
footer section .ft_top .ft_menu h2 {
    padding-bottom: 20px;
}
footer section .ft_top .ft_menu a {
    color: #fff;
    margin-top: 20px;
}
footer .ft_icon {
    background: #282828;
}
footer .ft_icon > section {
    width: 1295px;
    padding: 18px 0;
    margin-top: 47px;
    display: flex;
    align-items: center;
}
footer .ft_icon > section a {
    margin-right: 25px;
}
footer .ft_icon > section a img {
}
footer .ft_btm {
    background: #181818;
}
footer .ft_btm > section {
    width: 1295px;
    margin: 0 auto;
}
footer section .ft_btm {
    display: flex;
    color: #999;
    padding: 100px 0;
}
footer section .ft_btm .ft_logo {
    width: 320px;
}
footer section .ft_btm .ft_logo img {
    width: 200px;
    padding-top: 20px;
}
footer section .ft_btm .ft_other {
    width: 810px;
}
footer section .ft_btm .ft_other p {
    padding-bottom: 10px;
    font-size: 0.813rem;
}
footer section .ft_btm .ft_link {}
footer section .ft_btm .ft_link a {
    color: #999;
    font-size: 0.75rem;
}
footer section .line_2 {
    border: 1px solid #999;
    position: absolute;
    left: 24%;
    top: 25%;
    width: 980px;
}