main .main_item {}
main .main_item > h2 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
}
main .main_item .item_list {
    display: flex;
    justify-content: center;
}
main .main_item .item_list .item_wrap {
    margin-right: 30px;
}
main .main_item .item_list .item_wrap:last-child {
    margin-right: 0;
}
main .main_item .item_list .item_wrap .item_img {
    width: 298px;
    position: relative;
}
main .main_item .item_list .item_wrap .item_img a .img_b {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
main .main_item .item_list .item_wrap .item_img:hover .img_b {
    display: block;
}
main .main_item .item_list .item_wrap .item_img a {}
main .main_item .item_list .item_wrap .item_img a img {
    margin-bottom: 20px;
    width: 298px; height: 298px;
}
main .main_item .item_list .item_wrap .item_contents {}
main .main_item .item_list .item_wrap .item_contents .c_link {}
main .main_item .item_list .item_wrap .item_contents .c_link .box1 {
    width: 9px; height: 9px;
    border: 1px solid #e5e7eb;
    display: inline-block;
    background: #181818;
}
main .main_item .item_list .item_wrap .item_contents .c_link .box2 {
    width: 9px; height: 9px;
    border: 1px solid #e5e7eb;
    display: inline-block;
    background: #fff;
}
main .main_item .item_list .item_wrap .item_contents .c_link .box3 {
    width: 9px; height: 9px;
    border: 1px solid #e5e7eb;
    display: inline-block;
    background: #afe2f4;
}
main .main_item .item_list .item_wrap .item_contents .c_link .box4 {
    width: 9px; height: 9px;
    border: 1px solid #e5e7eb;
    display: inline-block;
    background: #104018;
}
main .main_item .item_list .item_wrap .item_contents .c_link > h2 {
    font-size: 0.938rem;
    padding-top: 10px;
}
main .main_item .item_list .item_wrap .item_contents .c_link .price {
    padding: 10px 0;
    font-weight: 700;
}
main .main_item .item_list .item_wrap .item_contents .c_link .price span {
    font-weight: 700;
    color: #f25356;
}
main .main_item .item_list .item_wrap .item_contents .c_link .del_price {
    font-size: 0.75rem;
    color: #7F7F7F;
    padding-top: 5px;
}
main .main_item .item_list .item_wrap .item_contents .c_link .label {
    display: flex;
}
main .main_item .item_list .item_wrap .item_contents .c_link > .label p {
    width: 55px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 5px;
    color: #fff;
}
main .main_item .item_list .item_wrap .item_contents .c_link .new {
    background: #181818;
}
main .main_item .item_list .item_wrap .item_contents .c_link .best {
    background: #5BA1D5;
}
main .main_item .item_list .item_wrap .item_contents .c_link .sale {
    background: #D70902;
}
main .main_item .item_list .item_wrap .item_contents .c_link .review {
    display: flex;
}
main .main_item .item_list .item_wrap .item_contents .c_link .review p {
    font-size: 0.875rem;
    margin-right: 5px;
}
main .main_item .item_list .item_wrap .item_contents .c_link .review p img {}